body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.memoryGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  color: blue;
}

.start svg, .start svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.start svg rect {
  stroke: blue;
  stroke-width: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  stroke-dasharray: 800, 800;
  stroke-dashoffset: 0;
}

.start:hover svg rect {
  stroke-dasharray: 200, 600;
  stroke-dashoffset: 350;
  stroke: blue;
}

.start.none {
  display: none;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.grid {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cell .cellFront, .cell .cellBack {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.cellFront {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  font-size: 24px;
  background-color: #587a78;
  color: #ddd;
}

.cellBack {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background-color: blue;
}

.cell.open .cellBack {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cell.open .cellFront {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
/*# sourceMappingURL=all.css.map */